body{
    background-image: url("../images/background.jpg");
    background-size: cover;
}
#container{
    margin:10px auto;
    width: 50%;
    background-color: #fff;
    padding: 10px;
}
.form-control{
    width: 96%;
    padding: 10px;
}
.form-group{
    margin:20px;
}
#genre,#status{
    margin-left:20px;
}
#status{
    margin-top: 15px;
}
#soumettre{
    padding: 10px;
    border: none;
}
.description-error,
.name-error,
.firstname-error,
.birthday-error,
.gender-error,
.phone-error,
.status-error
{
    color:red;
    font-weight: bold;
}
.description-error,
.phone-error{
    padding: 18px 0px 0px 0px;
}
.success{
    text-align: center;
    color: #000;
    font-weight: bold;
}