body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    
}
#title{
    text-align: center;
    text-decoration: underline;
}

#formulaire{
    margin:0px auto;
    width:50%;
    background-color: #ddd;
    padding: 10px;
}

#nom,#prenoms,#date,#telephone,#description{
   
    padding: 10px;
    width:97%;
}
#nom{
    margin-bottom: 20px;
}
#date,#telephone,#soumettre{
    margin-top:20px;
}
input[type='radio']{
    margin: 20px;
}
input[type='textarea']{
    width: 50%;
}
#soumettre{
    padding: 15px 20px;
    background-color:#856ADD;
    border:none;
    color:#fff;
}